<template>
  <div :class="$style.container1">
    <div :class="$style.searchContainer">
      <SearchBar
        :placeholder="'Project ID'"
        :buttonText="'Search'"
        :isDropdownAvailable="false"
        @search="onProjectSearch"
        :searchText="siteAddress.projectId"
        @input="handleSearchText"
        @clearselection="clearData"
        :size="'regular'"
        :shouldPopoverBePlacedOnRoot="true"
      >
      </SearchBar>
    </div>
    <div :class="$style.verticalcontainer">
      <div :class="$style.formitem">
        <div :class="$style.requiredstar">
          <ATypography :variant="'subtitlesmall'"
            >Address/Flat Number</ATypography
          >
        </div>
        <AInput
          :value="siteAddress.flat_number"
          @change="updateInput('flat_number', $event)"
          :disabled="disabled.flat_number"
          :labelRequired="false"
          :placeholder="'Address/Flat Number'"
        />
      </div>
      <div :class="$style.formitem">
        <div :class="$style.requiredstar">
          <ATypography :variant="'subtitlesmall'" color="colorError">
            *
          </ATypography>
          <ATypography :variant="'subtitlesmall'">Google Location</ATypography>
        </div>
        <Dropdown
          :getResource="getResourceAddress"
          :datasource="placesUrl"
          :value="siteAddress.address"
          :disabled="disabled.address"
          @change="selectPlace"
          :placeholder="'Google Location'"
          @focus="handleFocusEvent"
          icon="Search"
        />
        <div v-if="siteAddressBlank">
          <ATypography :variant="'subtitleextrasmall'" color="colorError"
            >Address cannot be empty!</ATypography
          >
        </div>
      </div>

      <div :class="$style.formitem">
        <div :class="$style.requiredstar">
          <ATypography :variant="'subtitlesmall'">Landmark</ATypography>
        </div>

        <AInput
          :value="siteAddress.landmark"
          @change="updateInput('landmark', $event)"
          :disabled="disabled.landmark"
          :labelRequired="false"
          :placeholder="'Landmark'"
        />
      </div>
      <div
        :class="$style.formitem"
        v-if="siteAddress.country_iso_code !== SG_COUNTRY_CODE"
      >
        <div :class="$style.pincodecontainer" v-if="showPin">
          <div>
            <ATypography :variant="'subtitlesmall'" color="colorError">
              *
            </ATypography>
            <ATypography :variant="'subtitlesmall'">Pincode</ATypography>
          </div>
          <AInput
            :value="siteAddress.pincode"
            @change="updatePincode"
            :placeholder="'Pincode'"
            :disabled="disabled.pincode"
            :labelRequired="false"
          />
          <div v-if="formStatus['pincode'] === 'error' && !siteAddress.pincode">
            <ATypography :variant="'subtitleextrasmall'" color="colorError"
              >Pincode is required!</ATypography
            >
          </div>
        </div>
      </div>
      <div
        :class="$style.formitem"
        v-if="siteAddress.country_iso_code !== SG_COUNTRY_CODE"
      >
        <div>
          <ATypography :variant="'subtitlesmall'">State</ATypography>
        </div>
        <AInput
          :value="siteAddress.state"
          :placeholder="'State'"
          :disabled="true"
          :labelRequired="false"
        />
        <div v-if="siteAddress.pincode && areaNotServiceable">
          <ATypography :variant="'subtitlesmall'" color="colorError">
            * Area not serviceable
          </ATypography>
        </div>
      </div>
    </div>
    <div :class="$style.container2">
      <div :class="$style.formitem">
        <Dropdown
          :getResource="getResourceBouncerUser"
          :datasource="placesUrl"
          :value="siteAddress.requested_by"
          :disabled="disabled.requested_by"
          @change="selectUser"
          :placeholder="'Requested User'"
          icon="Search"
        />
      </div>
      <div :class="$style.formitem">
        <Dropdown
          :selectOptions="addressChangeReasonEnums"
          :value="siteAddress.update_reason"
          :disabled="disabled.update_reason"
          @change="selectUpdateReason"
          :placeholder="'Update Reason'"
        />
      </div>
    </div>
    <div :class="$style.btnContainer">
      <AButton size="regular" @click.stop="clearData" type="primary"
        ><ATypography :variant="'subtitlesmall'" color="colorOnPrimary"
          >Clear</ATypography
        ></AButton
      >
      <AButton size="regular" type="primary" @click.stop="handleSubmitForm"
        ><ATypography :variant="'subtitlesmall'" color="colorOnPrimary"
          >Submit</ATypography
        ></AButton
      >
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { mapState } from "vuex";

import {
  AInput,
  ATypography,
  Dropdown,
  AButton,
  SearchBar,
} from "@canvas/componentlibrary";

export default Vue.extend({
  name: "basic-component",
  components: {
    AInput,
    ATypography,
    Dropdown,
    SearchBar,
    AButton,
  },
  data(): Record<string, any> {
    return {
      siteAddress: {
        address: { name: "", display_name: "" },
        pincode: "",
        flat_number: "",
        landmark: "",
        projectId: "",
        state: "",
      },
      disabled: {
        flat_number: false,
        address: false,
        landmark: false,
        pincode: false,
        projectId: false,
      },
      placesUrl: "q=",
      areaNotServiceable: false,
      stateFetching: false,
      SG_COUNTRY_CODE: "SG",
      showPin: true,
      formStatus: {
        location: "success",
        pincode: "success",
      },
      addressOptions: null,
    };
  },
  computed: {
    ...mapState<{ [key: string]: any }>("supportmfe", {
      addressChangeReasonEnums: "addressChangeReasonEnums",
    }),
    siteAddressBlank() {
      return (
        (this as any).formStatus["location"] === "error" &&
        /^\s*$/.test((this as any).siteAddress.address.name)
      );
    },
  },
  methods: {
    //method called after place is selected in dropdown
    async selectPlace(eventData: any) {
      const place = eventData.value;
      this.addressOptions = null;
      this.$set(this.siteAddress, "address", place);
      this.$set(this.siteAddress, "place_id", place.name);
      this.$set(this.formStatus, "location", "success");
      this.areaNotServiceable = false;
      // const newAddress: any = {};
      // newAddress.address = {
      //   name: place.name,
      //   display_name: place.display_name,
      // };

      this.stateFetching = true;
      this.siteAddress.state = "";

      const placeDetails = await this.$store.dispatch(
        "supportmfe/getPlaceDetails",
        place.name
      );
      if (placeDetails.serviceable !== undefined && !placeDetails.serviceable) {
        this.areaNotServiceable = true;
      }

      // this.showPin = placeDetails.country.name === this.INDIA_COUNTRY_CODE;
      this.showPin = true;

      // newAddress.pincode = placeDetails.pincode;
      if (placeDetails.state) {
        this.siteAddress.state = placeDetails.state.name;
      }
      this.$set(this.siteAddress, "pincode", placeDetails.pincode);
      this.stateFetching = false;
    },
    async selectUser(eventData: any) {
      this.$set(this.siteAddress, "requested_by", eventData.value);
    },
    async selectUpdateReason(eventData: any) {
      this.$set(this.siteAddress, "update_reason", eventData.value);
    },
    //generic to update input value bindings
    updateInput(type: string, eventData: Record<string, any>) {
      this.siteAddress[type] = eventData.target.value;
    },
    //getResource is passed to the dropdown comp to fetch resource
    async getResourceAddress(url: string) {
      return this.$store
        .dispatch("supportmfe/getAddressDetails", url)
        .then((result: any) => {
          return result;
        })
        .catch((error) => {
          this.$store.dispatch("supportmfe/addToast", {
            severity: "error",
            message: "Error " + JSON.stringify(error),
          });
        });
    },
    async getResourceBouncerUser(url: string) {
      return this.$store
        .dispatch("supportmfe/getBouncerUserDetails", url)
        .then((result: any) => {
          return result;
        })
        .catch((error) => {
          this.$store.dispatch("supportmfe/addToast", {
            severity: "error",
            message: "Error " + JSON.stringify(error),
          });
        });
    },
    //method called for updating pincode on user input
    updatePincode(event: { target: { value: string } }) {
      const newAddress = Object.assign({}, this.siteAddress);
      const pincode = event.target.value;
      newAddress.pincode = pincode;
      this.$set(this.siteAddress, "pincode", pincode);
      this.updateState(newAddress);
    },
    //method to fetch state for the mentioned pincode
    updateState(newAddress: Record<string, any>) {
      this.stateFetching = true;
      this.$store.commit("supportmfe/setModalElementVisibility", true);
      this.$store
        .dispatch("supportmfe/getPincodeDetails", newAddress.pincode)
        .then((pincodeDetails: any) => {
          this.stateFetching = false;
          this.siteAddress.state =
            pincodeDetails[newAddress.pincode].state?.name;
          this.areaNotServiceable = false;
          this.$store.commit("supportmfe/setModalElementVisibility", false);
        })
        .catch(() => {
          this.stateFetching = false;
          this.siteAddress.state = "";
          this.stateErrorMessage = "Invalid pincode!";
          this.areaNotServiceable = false;
          this.$store.commit("supportmfe/setModalElementVisibility", false);
        });
    },
    //v2 project search for searching project and then fetching the corresponding address from that
    onProjectSearch(eventData: any) {
      this.$store.commit("supportmfe/setModalElementVisibility", true);
      this.$store
        .dispatch("supportmfe/getProjectDetails", eventData.searchText)
        .then((data: Record<string, any>) => {
          this.$store.commit("supportmfe/setPorjectCountry", data.country_code);
          if (data.addresses.length > 0) {
            const siteAddress = data.addresses.filter((address: any) => {
              return address.tag === "SITE_ADDRESS";
            });
            if (siteAddress.length > 0) {
              this.$store
                .dispatch(
                  "supportmfe/getAddressById",
                  siteAddress[0].address_id
                )
                .then((addressData: any) => {
                  this.$store.commit(
                    "supportmfe/setModalElementVisibility",
                    false
                  );
                  const addressForDropdown = {
                    name: siteAddress[0].address_id,
                    display_name: addressData.address1,
                  };
                  this.addressOptions = [addressForDropdown];
                  this.siteAddress = {
                    flat_number: addressData.flat_number,
                    address: addressForDropdown,
                    landmark: addressData.landmark,
                    pincode: addressData.postcode,
                    state: addressData.state,
                    country_iso_code: addressData.country_iso_code,
                    id_country: addressData.id_country,
                    old_address_id: addressData.id,
                    place_id: "",
                    projectId: eventData.searchText,
                    address_type: "site_address",
                    requested_by: {
                      name: "",
                      display_name: "",
                    },
                    update_reason: {
                      name: "",
                      display_name: "",
                    },
                  };
                  this.areaNotServiceable = false;
                })
                .catch((error) => {
                  this.$store.commit(
                    "supportmfe/setModalElementVisibility",
                    false
                  );

                  this.$store.dispatch("supportmfe/addToast", {
                    severity: "error",
                    duration: 0,
                    message: "Error " + JSON.stringify(error),
                  });
                });
            }
          } else {
            this.$store.commit("supportmfe/setModalElementVisibility", false);
            this.$store.dispatch("supportmfe/addToast", {
              severity: "error",
              duration: 0,
              message:
                "Error - No address found for this Project ID - " +
                eventData.searchText,
            });
          }
        })
        .catch((error) => {
          this.$store.commit("supportmfe/setModalElementVisibility", false);
          this.$store.dispatch("supportmfe/addToast", {
            severity: "error",
            duration: 0,
            message: "Error " + JSON.stringify(error),
          });
        });
    },
    //update searchText as per SearchBar
    handleSearchText(data: any) {
      this.siteAddress.projectId = data;
    },
    handleFocusEvent() {
      this.addressOptions = null;
    },
    //clear the form state
    clearData() {
      this.addressOptions = null;
      this.siteAddress = {
        flat_number: "",
        address: {
          name: "",
          display_name: "",
        },
        landmark: "",
        pincode: "",
        state: "",
        projectId: "",
        country_iso_code: "",
        id_country: "",
        requested_by: {
          name: "",
          display_name: "",
        },
        update_reason: {
          name: "",
          display_name: "",
        },
      };
    },
    handleSubmitForm() {
      const updateData = {
        site_address: {
          address1: this.siteAddress.address.display_name,
          address_type: "site_address",
          country_iso_code: this.siteAddress.country_iso_code,
          flat_number: this.siteAddress.flat_number,
          id_country: this.siteAddress.id_country,
          landmark: this.siteAddress.landmark,
          place_id: this.siteAddress.place_id,
          postcode: this.siteAddress.pincode,
          requested_by: this.siteAddress.requested_by.name,
          old_address_id: this.siteAddress.old_address_id,
          update_reason: this.siteAddress.update_reason.name,
        },
      };
      this.$store.commit("supportmfe/setModalElementVisibility", true);
      this.$store
        .dispatch("supportmfe/updateProjectData", {
          data: updateData,
          project_id: this.siteAddress.projectId,
        })
        .then(() => {
          this.$store.commit("supportmfe/setModalElementVisibility", false);
          this.$store.dispatch("supportmfe/addToast", {
            severity: "success",
            message: "Details updated successfully.",
          });
        })
        .catch((error) => {
          this.$store.commit("supportmfe/setModalElementVisibility", false);
          this.$store.dispatch("supportmfe/addToast", {
            severity: "error",
            duration: 0,
            message: error,
          });
        });
    },
  },
  mounted() {
    this.$store.dispatch("supportmfe/getCustomEnums");
  },
});
</script>
<style lang="scss" module>
.container1 {
  width: 40%;
}
.container2 {
  padding: 0px 10px;
}
.verticalcontainer {
  display: flex;
  flex-direction: column;
  border: dashed 1px gainsboro;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
}
.formitem {
  padding: 10px 5px;
}
.searchContainer {
  width: 50%;
  margin: 10px;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
</style>
