<template>
  <div>
    <div :class="$style.toastercontainer">
      <AToaster
        :toasterItems="toasterItems"
        @onClose="handleToasterClose"
      ></AToaster>
    </div>
    <div class="supportmfe-modalContainer">
      <AModal
        v-if="modalElementIsVisible"
        :footerSeparator="false"
        :bodySeparator="false"
        :closable="false"
        type="small"
      >
        <div slot="body">
          <div :class="$style.loaderContainer">
            <AIcon
              :type="'CircularLoader'"
              :progress="indeterminateProgress"
            ></AIcon>
            <div style="padding-left:10px">
              <ATypography :variant="'subtitledefault'"
                >Loading ...</ATypography
              >
            </div>
          </div>
        </div>
      </AModal>
    </div>
    <Page title="Support">
      <div :class="$style.sidebarcontainer" slot="sidebar">
        <AList :items="sidebaritems" title="" :renderer="routerLinkItem" />
      </div>
      <div slot="pagebody" :class="$style.bodycontainer">
        <router-view></router-view>
      </div>
    </Page>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import {
  ASubHeadSidebarPage as Page,
  AList,
  AToaster,
  AModal,
  AIcon,
  ATypography,
} from "@canvas/componentlibrary";
import RouterLinkListItem from "../components/RouterLinkListItem.vue";
import { mapState } from "vuex";
export default Vue.extend({
  name: "rorschach-home",
  components: {
    Page,
    AList,
    AToaster,
    AModal,
    AIcon,
    ATypography,
  },
  data() {
    return {
      indeterminateProgress: {
        type: "indeterminate",
      },
      sidebaritems: [
        {
          name: "/addressupdate",
          displayName: "Address Update",
        },
      ],
    };
  },
  computed: {
    ...mapState("supportmfe", {
      toasterItems: "toastsList",
      modalElementIsVisible: "modalElementIsVisible",
    }),
    routerLinkItem() {
      return RouterLinkListItem;
    },
  },
  methods: {
    handleToasterClose(eventData: any) {
      this.$store.commit("supportmfe/clearToast", eventData);
    },
  },
});
</script>
<style module lang="scss">
.sidebarcontainer {
  padding: 10px;
  border-right: solid 1px gainsboro;
  height: calc(100% - 20px);
}
.header {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.collapsibleSubHead {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  justify-content: center;
  border-bottom: solid 1px gainsboro;
}
.bodycontainer {
  height: 100%;
  overflow: scroll;
}
.toastercontainer {
  z-index: 1000;
}
.loaderContainer {
  display: flex;
}
</style>
<style scoped lang="scss">
.supportmfe-modalContainer {
  &::v-deep .modal-modalTitle {
    display: none;
  }
  &::v-deep .modal-modalBody {
    padding: 24px;
  }
  &::v-deep .modal-mSmall {
    max-width: fit-content;
    padding: 10px;
  }
}
::v-deep .subHeadSidebarPage-querybuilderNofilters {
  display: none;
}
::v-deep .subHeadSidebarPage-projectstable.subHeadSidebarPage-pageTransition {
  height: 100%;
}
::v-deep .subHeadSidebarPage-pagecontentNoTransition {
  width: 100% !important;
}
</style>
