<template>
  <div :class="$style.container">
    <div ref="container" :class="$style.editorHeightcontroller"></div>
    <AButton type="primary" size="small" :class="$style.updatebutton">
      Update
    </AButton>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { AButton } from "@canvas/componentlibrary";
import JSONEditor from "jsoneditor";
export default Vue.extend({
  name: "basic-component",
  components: {
    AButton,
  },
  data() {
    return {
      currentMFE: "",
    };
  },
  mounted() {
    const container = this.$refs.container;
    const editor = new JSONEditor(container, { mode: "text" });
    editor.set(this.$store.getters["supportmfe/translations"]);
  },
});
</script>
<style lang="scss" module>
.container {
  padding: 15px;
}
.mfetitle {
  text-transform: capitalize;
  text-decoration: underline;
}
.formcontainer {
  width: 400px;
  padding: 5px 0px;
  & > * {
    margin-top: 20px;
  }
}
.titlecontainer {
  margin-top: 15px;
}
.updatebutton {
  margin-top: 20px;
}
.container {
  padding: 15px;
  width: 700px;
}
.editorHeightcontroller {
  height: 500px;
}
</style>
