<template>
  <router-link :to="{ path: listPath }" tag="span">
    <li :class="$style.listitem" @click="emitclick">
      <span :class="$style.listitemcontainer">
        <span :class="$style.leadingpart">
          <span :class="$style.textcontainer">
            <span :class="$style.subtextcontainer">
              <ATypography :variant="textvariant" :color="textcolor">
                {{ item.displayName }}
              </ATypography>
            </span>
          </span>
        </span>
      </span>
    </li>
  </router-link>
</template>
<script lang="ts">
import Vue from "vue";
import supportmfeMFE from "../index";
import { ATypography } from "@canvas/componentlibrary";
export default Vue.extend({
  name: "a-list",
  components: {
    ATypography,
  },
  props: {
    /**
     * Must be of the form
     * {
     *    displayName: string;
     *    name: string;
     *    selected: boolean;
     * }
     */
    item: {
      type: Object,
      required: true,
    },
  } as { [key: string]: any },
  computed: {
    textvariant() {
      if ((this.$route as any).path === (this.item as any).name) {
        return "buttondefault";
      } else {
        return "bodydefault";
      }
    },
    textcolor() {
      if ((this.$route as any).path === (this.item as any).name) {
        return "primary";
      } else {
        return "secondary";
      }
    },
    listPath() {
      if (supportmfeMFE && supportmfeMFE.mfevm) {
        return (
          (supportmfeMFE as any).mfevm._mfeMountPath + (this.item as any).name
        );
      } else {
        return "";
      }
    },
  },
  methods: {
    emitclick() {
      /**
       * the event object has the form `{ item: { name: string; displayName: string; selected: boolean; } }`
       * @event select
       */
      this.$emit("select", { item: this.item });
    },
  },
});
</script>
<style lang="scss" module>
// @import "../../newcanvascomponents/theme.module.scss";
// @import "../../../../node_modules/@canvas/componentlibrary/src/newcanvascomponents/theme.module.scss";
.listitem {
  list-style: none;
  height: 44px;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  &:hover {
    // background-color: $colorBackground;
    color: #3655f2;
  }
}
:global(.router-link-active) li :local(.listitemcontainer) {
  background-color: #ebeffe;
  border-left: solid 2px #3655f2;
}

.listitemcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
  height: 100%;
  align-items: center;
  padding-left: 12px;
}

.leadingpart {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  & > * {
    margin-right: 4px;
  }
}

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 4px;
  user-select: none;
}
</style>
