<template>
  <router-mfe :useShadowDom="false" />
</template>
<script lang="ts">
import { fetchAndLoadStyles } from "@canvas/mfe";
export default {};
//this has been done so that the fonts and global style is loaded for this mock
//composer of MFE. Once the MFE's are bundled and deployed the actual composer shall
//already have the fonts loaded with the
const mfeStyleSheets = [
  "https://naarad.livspace.com/fonts/v7/fonts.css",
  "https://naarad.livspace.com/canvas/componentlibrary/0.6.2-feature-cssupdate-dev4/components.canvas.css",
];
fetchAndLoadStyles(mfeStyleSheets, document.getElementsByTagName("head")[0]);
</script>
<style lang="scss" module></style>
